/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */

fieldset,
hr {
    border: 0;
    padding: 0
}

.fb-article,
.testimonio-img {
    overflow: hidden
}

.H1,
.H3,
.btn,
.dropdown-menu a,
.navbar {
    font-weight: 700
}

html {
    color: #414042;
    font-size: 14px;
    line-height: 1.4
}

body {
    font-family: Roboto, sans-serif;
    font-display: fallback;
}

.form-control::placeholder,
a.btn,
input.btn,
label,
nav {
    text-transform: uppercase;
    font-size: .9rem
}

label {
    color: #495057!important
}

.arrow-back,
.nav-description a {
    color: #414042
}

.form-check label {
    font-size: .8rem
}

.form-control:focus,
input:active,
input:focus {
    outline: 0;
    box-shadow: none
}

.arrow-back {
    font-size: 3rem;
    display: inline-block;
    transition: all .2s ease-in-out
}

.intl-tel-input,
hr {
    display: block
}

.arrow-back:hover {
    text-decoration: none;
    opacity: .7;
    color: #414042;
    transform: scale(.9)
}

.iti-flag {
    background-image: url(../helpers/inputTel/img/flags.png)
}

@media (-webkit-min-device-pixel-ratio:2),
(min-resolution:192dpi) {
    .iti-flag {
        background-image: url(../helpers/inputTel/img/flags@2x.png)
    }
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none
}

::selection {
    background: #b3d4fc;
    text-shadow: none
}

hr {
    height: 1px;
    border-top: 1px solid #ccc;
    margin: 1em 0
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle
}

fieldset {
    margin: 0
}

textarea {
    resize: vertical
}

.browserupgrade {
    margin: .2em 0;
    background: #ccc;
    color: #000;
    padding: .2em 0
}

.dropdown-menu {
    padding: 0;
    margin: 0;
    border: 0 solid transition!important;
    border-radius: 0;
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
    font-size: .9rem
}

.dropdown-menu a {
    color: rgba(0, 0, 0, .5);
    transition: .2s ease-in-out
}

.dropdown-item:hover {
    background-color: transparent!important
}

.dropdown-menu a:hover {
    color: #fca436
}

@media only screen and (min-width:991px) {
    nav.navbar .collapse ul li {
        position: relative
    }
    nav.navbar .collapse ul li:hover>ul {
        display: block
    }
    nav.navbar .collapse ul ul {
        position: absolute;
        top: 100%;
        left: 0;
        min-width: 250px;
        display: none
    }
}

.btn {
    padding: 15px 25px;
    border-radius: 3px;
    background-color: #fca436;
    color: #414042;
    border-color: #414042;
    transition: all .3s ease-in-out
}

.btn:hover {
    background-color: transparent;
    color: #fca436;
    border-color: #fca436
}

.H1,
.H2 {
    color: #fff
}

.H1 {
    font-size: 1.5rem
}

.H2 {
    font-size: 1.3rem
}

.H3,
.H4 {
    color: #414042
}

.H3 {
    font-size: 1.6rem
}

.H4 {
    font-size: 19px
}

@media only screen and (min-width:568px) {
    .H1 {
        font-size: 2.3rem
    }
    .H2 {
        font-size: 1.8rem
    }
}

.navbar {
    padding: 0 7rem;
    z-index: 100;
    width: 100%
}

.navbar-brand {
    padding-top: .7rem;
    padding-bottom: .7rem
}

.navbar-nav li {
    padding: 1rem 7px
}

@media only screen and (max-width:991px) {
    .navbar-collapse {
        margin-top: 10px
    }
    .navbar {
        padding: 0 .5rem
    }
    .navbar-nav li {
        padding: .3rem 7px
    }
}

.fixed-nav .navbar {
    position: fixed;
    top: 0;
    left: 0;
    filter: drop-shadow(0 3px 0.3rem rgba(0,0,0,0.4))
}

.active {
    background-color: #fca436
}

.active .nav-link {
    color: #FFF!important;
    padding: .6rem
}

.nav-link {
    transition: .2s ease-in-out
}

.nav-item:hover .nav-link {
    color: #fca436!important
}

.active:hover .nav-link {
    color: #FFF!important
}

.slick-slide {
    height: 400px !important
}

.slick-next,
.slick-prev {
    background: 0 0;
    z-index: 50
}

.slick-next::before,
.slick-prev::before {
    font-size: 25px
}

.content-details img {
    width: 50px
}

.content-details h4 {
    font-size: .8rem
}

.slick-next {
    right: 1rem
}

.slick-prev {
    left: 1rem
}

@media only screen and (min-width:568px) {
    .content-details img {
        width: 65px
    }
    .content-details h4 {
        font-size: 1.4rem
    }
    .slick-next::before,
    .slick-prev::before {
        font-size: 30px
    }
    .slick-next {
        right: 2rem
    }
    .slick-prev {
        left: 2rem
    }
}

.main-slider a,
.main-slider h3 {
    position: absolute;
}

.main-slider a {
    display: none;
    font-size: .75rem;
}

.main-slider h3 {
    left: 10%;
    top: 48%;
    text-align: center;
    width: 80%;
    font-size: 1.2rem;
    line-height: 1.4;
    padding: 0 10px;
}

@media only screen and (min-width:568px) {
    .main-slider h3 {
        top: 45%;
        font-size: 1.4rem;
    }
    .main-slider a {
        left: 45%;
        top: 53%;
    }
}

@media only screen and (min-width:767px) {
    .main-slider h3 {
        top: 43%;
        font-size: 1.6rem;
    }
    .main-slider a {
        left: 40%;
        top: 60%;
        display: block;
    }

    .slick-slide {
        height: 500px !important
    }
}

@media only screen and (min-width:996px) {
    .slick-slide {
        height: 100vh !important
    }
    .main-slider h3 {
        top: 45%;
        font-size: 2rem;
    }
    .main-slider a {
        left: 43%;
        top: 62%;
        font-size: .9rem;
    }
}

.destacados,
.facebook-home,
.social-iconos,
.testimonios-home {
    padding: 1rem 0
}

.seccion-pedidos {
    background-color: #e6e7e8
}

.compromiso h3,
.contacto-form h2,
.destacados h2,
.detalle-producto h2,
.facebook-home h2,
.nosotros h2,
.seccion-pedidos h2,
.testimonios-home h2 {
    color: #414042;
    line-height: 2rem;
    text-transform: uppercase;
    position: relative;
    padding: 10px 0;
    margin-bottom: 10px;
}

.compromiso h3::after,
.contacto-form h2::after,
.destacados h2::after,
.detalle-producto h2::after,
.facebook-home h2::after,
.nosotros h2::after,
.seccion-pedidos h2::after,
.testimonios-home h2::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 42%;
    margin: 0 auto;
    height: 15px;
    width: 15%;
    border-bottom: 5px solid #06195e;
}

.nosotros h2::after,
.compromiso h3::after,
.contacto-form h2::after,
.detalle-producto h2::after {
    left: 0;
}



@media only screen and (min-width:568px) {
    .destacados,
    .facebook-home,
    .social-iconos,
    .testimonios-home {
        padding: 2rem 0
    }
    .compromiso h3,
    .contacto-form h2,
    .destacados h2,
    .detalle-producto h2,
    .facebook-home h2,
    .nosotros h2,
    .seccion-pedidos h2,
    .testimonios-home h2 {
        line-height: 3rem
    }
}

.producto .content-overlay,
.social-box .content-overlay {
    background: rgba(65, 64, 66, .8);
    position: absolute;
    height: 99%;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    transition: all .4s ease-in-out 0s;
    z-index: 10
}

.productos .producto .content-overlay {
    background: rgba(167, 162, 172, .5)
}

.producto:hover .content-overlay,
.social-box:hover .content-overlay {
    opacity: 1
}

.producto .content-details {
    position: absolute;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    top: 50%;
    left: 50%;
    opacity: 0;
    color: #fff;
    transform: translate(-50%, -20%);
    transition: all .3s ease-in-out 0s;
    z-index: 11
}

.producto:hover .content-details {
    top: 40%;
    left: 50%;
    opacity: 1
}

.nosotros-home {
    height: 50vh;
    width: 100%;
    background-image: url(../img/slider1.jpg);
    color: #fff
}

@media only screen and (min-width:568px) {
    .nosotros-home {
        height: 75vh
    }
}

.fb-article .fb-titulo + div {
    height: 450px;
}

.fb-titulo {
    position: absolute;
    padding: 2rem 1rem;
    background-color: rgba(255, 255, 255, .75);
    width: 100%;
    transition: all .3s ease-out
}

.fb-article:hover .fb-titulo {
    transform: translateY(-50%);
    opacity: 0
}

.fb-link {
    position: relative;
    bottom: 69px;
    display: block;
    opacity: 0;
    transform: translateY(30%);
    transition: all .2s ease-in
}

.social-box a span,
.social-iconos a {
    transition: .3s ease-in-out;
    text-decoration: none
}

.fb-article img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%
}

.fb-article:hover .fb-link {
    opacity: 1;
    transform: translateY(0)
}

.fb-link a.btn {
    padding: 15px 20px;
    border: none;
    border-radius: 0
}

.fb-link a.btn:hover {
    background-color: #fca436;
    color: #FFF
}

.testimonios-home a.btn {
    padding: 10px 15px;
    border-color: transparent;
    color: #fff
}

.testimonios-home a.btn:hover {
    color: #fca436;
    border: 1px solid #fca436
}

.testimonio-img img {
    border-radius: 50%;
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
    margin-bottom: 30px
}

.social-iconos a:hover {
    opacity: .5;
    text-decoration: none
}

.social-iconos img {
    width: 55px
}

.social-box {
    margin-bottom: 2rem
}

.social-box .content-overlay {
    width: 92%;
    height: 100%;
    margin: 0 auto
}

.social-box a span {
    position: absolute;
    top: 40%;
    left: 40%;
    opacity: 0;
    z-index: 11
}

.social-box:hover a span {
    opacity: 1
}

.social-box a span.fa-youtube {
    color: #fd3832
}

.social-box a span.fa-couch {
    color: #fff
}

.social-box a span.fa-map-marked-alt {
    color: #fca436
}

.social-iconos a span {
    color: #414042;
}

.social-iconos a:hover span,
.social-iconos a:focus span {
    text-decoration: none;
}

.main-footer {
    height: 100%
}

.main-footer section {
    background-color: #414042;
    color: #fff;
    padding: 2rem 0
}

.main-footer .social-iconos {
    padding: 0;
    margin-top: 1rem
}

.main-footer .form-control {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #999;
    width: 70%;
    border-radius: 0;
    transition: .3s ease-in;
    color: #fff
}

.main-footer .form-control::placeholder {
    color: #bbb
}

.contacto-form input.btn,
.main-footer input.btn,
.seccion-pedidos input.btn {
    padding-right: 40px;
    padding-left: 40px
}

.contacto-form input.form-control,
.contacto-form textarea.form-control {
    border: 1px solid #999;
    transition: .2s ease-in;
    border-radius: 0
}

.seccion-pedidos input.form-control,
.seccion-pedidos textarea.form-control {
    border: 1px solid #999;
    border-radius: 0;
    transition: .2s ease-in;
    background-color: transparent
}

.seccion-pedidos textarea.form-control {
    resize: none
}

input.form-control:hover,
textarea.form-control:hover,
input.form-control:focus,
textarea.form-control:focus {
    border-color: #000;
}

input.error,
textarea.error {
    border-color: #fd3832!important
}

label.error {
    margin: 5px;
    padding-left: 5px;
    color: #fd3832!important;
    font-size: .85rem
}

.loader-ajax,
.pre-loader {
    width: 100%;
    height: 100%;
    z-index: 999;
    background-color: rgba(255, 255, 255, .7);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: none;
    align-items: center;
    justify-content: center
}

.pre-loader {
    background-color: #fff;
    display: flex;
    flex-flow: column;
    overflow: auto
}

.detalle-producto .thumb a,
.visuallyhidden {
    overflow: hidden
}

.pre-loader img {
    width: 120px;
    margin-bottom: 15px
}

.modal-dialog {
    max-width: 700px
}

.videoWrapper {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0
}

.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

.sk-cube-grid {
    width: 80px;
    height: 80px;
    margin: 0 auto
}

.sk-cube-grid .sk-cube {
    width: 33%;
    height: 33%;
    background-color: #fca436;
    float: left;
    -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
    animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out
}

.sk-cube-grid .sk-cube1 {
    -webkit-animation-delay: .2s;
    animation-delay: .2s
}

.sk-cube-grid .sk-cube2 {
    -webkit-animation-delay: .3s;
    animation-delay: .3s
}

.sk-cube-grid .sk-cube3 {
    -webkit-animation-delay: .4s;
    animation-delay: .4s
}

.sk-cube-grid .sk-cube4 {
    -webkit-animation-delay: .1s;
    animation-delay: .1s
}

.sk-cube-grid .sk-cube5 {
    -webkit-animation-delay: .2s;
    animation-delay: .2s
}

.sk-cube-grid .sk-cube6 {
    -webkit-animation-delay: .3s;
    animation-delay: .3s
}

.sk-cube-grid .sk-cube7 {
    -webkit-animation-delay: 0s;
    animation-delay: 0s
}

.sk-cube-grid .sk-cube8 {
    -webkit-animation-delay: .1s;
    animation-delay: .1s
}

.sk-cube-grid .sk-cube9 {
    -webkit-animation-delay: .2s;
    animation-delay: .2s
}

@-webkit-keyframes sk-cubeGridScaleDelay {
    0%,
    100%,
    70% {
        -webkit-transform: scale3D(1, 1, 1);
        transform: scale3D(1, 1, 1)
    }
    35% {
        -webkit-transform: scale3D(0, 0, 1);
        transform: scale3D(0, 0, 1)
    }
}

@keyframes sk-cubeGridScaleDelay {
    0%,
    100%,
    70% {
        -webkit-transform: scale3D(1, 1, 1);
        transform: scale3D(1, 1, 1)
    }
    35% {
        -webkit-transform: scale3D(0, 0, 1);
        transform: scale3D(0, 0, 1)
    }
}

.whatsapp {
    background-color: #25D366;
    font-size: 1.2rem;
    cursor: pointer;
    transition: all .2s ease-in-out
}

.whatsapp:hover {
    transform: scale(1.03)
}

.whatsapp a {
    color: #fff;
    text-decoration: none
}

.boletin-footer,
.main-footer .tel {
    display: none
}

@media only screen and (min-width:480px) {
    .boletin-footer,
    .main-footer .tel {
        display: block
    }
}

.boletin-footer input::placeholder {
    color: #fff
}

.nosotros-bg {
    height: 50vh;
    background: url(../img/slider1.jpg) center center no-repeat;
    background-size: cover;
    width: 100%
}

.nosotros header {
    height: 400px;
    width: 100%;
    background: url(../img/nosotros.jpg) center center no-repeat;
    background-size: cover
}

.vision-bg {
    background: url(../img/slider3.jpg) center center no-repeat;
    background-size: cover;
    height: 70vh
}

.contacto-bg,
.marker {
    background-size: cover
}

.vision-bg p {
    color: #fff;
    font-size: 1.2rem;
    line-height: 1.6rem
}

@media only screen and (min-width:568px) {
    .vision-bg p {
        color: #fff;
        font-size: 1.7rem;
        line-height: 2.2rem
    }
}

.contacto-bg {
    height: 50vh;
    background-image: url(../img/slider2.jpg);
    width: 100%
}

.marker {
    background-image: url(../img/icons/maps.svg);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: default;
    position: relative
}

.marker::before {
    content: "";
    width: 100px;
    height: 100%;
    position: absolute;
    top: -45px;
    left: -30px;
    background: url('../img/logo_nav.svg') center center no-repeat;
    background-size: 80%;
}

.mapboxgl-popup {
    max-width: 250px
}

.mapboxgl-popup-content {
    text-align: center;
    padding: 1rem;
    font-weight: 700
}

.mapboxgl-popup-content h3 {
    padding: 1rem 0 0;
    font-size: 1.2rem;
    text-transform: uppercase
}

.mapboxgl-popup-close-button {
    font-size: 1.5rem
}

.productos {
    text-align: center;
    margin-bottom: 5rem
}

.productos .row>div {
    margin: 10px 0
}

.producto-btn {
    background-color: transparent;
    border-radius: 0;
    border-color: #414042;
    padding-top: 10px;
    padding-bottom: 10px
}

.accordion .card-header.opened,
.accordion .card-header:hover,
.producto-btn:hover {
    background-color: #fca436
}

.producto-btn:hover {
    border-color: #fca436;
    color: #fff
}

.producto h3 {
    font-size: 1.2rem;
    text-align: left;
    padding-top: 10px!important;
    padding-bottom: 10px!important;
    color: #06195e;
    border-bottom: 2px solid #06195e
}

.accordion .card {
    margin-bottom: 5px
}

.accordion .card-header {
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: all .2s ease-in-out
}

.accordion .card-header:hover .btn {
    text-decoration: none;
    color: #fff
}

.accordion .card-header.opened .btn {
    color: #fff
}

.card-header img {
    width: 70px
}

.accordion .card-header .btn {
    padding: 10px 0;
    background-color: transparent;
    border: none;
    display: inline-block;
    margin-left: 5px;
    text-transform: uppercase
}

.pagination li a {
    border: none;
    color: #414042
}

.pagination li.active a,
.pagination li:hover a {
    background-color: #fca436;
    color: #fff;
    font-weight: 700
}

.pagination li.disabled a {
    color: rgba(65, 64, 66, .5)
}

.pagination li.disabled:hover a {
    background-color: transparent!important;
    color: rgba(65, 64, 66, .5)!important;
    font-weight: 400
}

.pagination {
    flex-wrap: wrap
}

.detalle-producto .thumb {
    display: flex
}

.detalle-producto .thumb li {
    margin-right: 5px;
    margin-top: 5px;
    max-width: 130px;
    border: 1px solid rgba(153, 153, 153, .5);
    overflow: hidden
}

.detalle-producto .thumb img {
    width: 100%;
    transition: .25s ease-in-out
}

.detalle-producto .thumb img:hover {
    transform: scale(1.2)
}

.detalle-producto .imgBox {
    max-width: 400px;
    border: 1px solid rgba(153, 153, 153, .5)
}

.detalle-producto .imgBox img {
    width: 100%
}

.detalle-producto h2 {
    font-size: 2rem
}

.detalle-producto li {
    font-size: .9rem
}

.list {
    line-height: 19px
}

.bullet {
    font-weight: 700;
    font-size: 1.2rem;
    position: relative;
    top: 3px
}

.hidden {
    display: none!important
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit
}

.invisible {
    visibility: hidden
}

.clearfix:after,
.clearfix:before {
    content: " ";
    display: table
}

.clearfix:after {
    clear: both
}

@media print {
    blockquote,
    img,
    pre,
    tr {
        page-break-inside: avoid
    }
    *,
    :after,
    :before {
        background: 0 0!important;
        color: #000!important;
        -webkit-box-shadow: none!important;
        box-shadow: none!important;
        text-shadow: none!important
    }
    a,
    a:visited {
        text-decoration: underline
    }
    a[href]:after {
        content: " (" attr(href) ")"
    }
    abbr[title]:after {
        content: " (" attr(title) ")"
    }
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: ""
    }
    pre {
        white-space: pre-wrap!important
    }
    blockquote,
    pre {
        border: 1px solid #999
    }
    thead {
        display: table-header-group
    }
    h2,
    h3,
    p {
        orphans: 3;
        widows: 3
    }
    h2,
    h3 {
        page-break-after: avoid
    }
}